.corpo {
    width: 50vw;
    height: auto;
    background-color:#A6341B;
    margin: auto;
    padding: 10px;
    border-right: 1px solid white;
}
.tabela {
    margin: auto;
    width: 100%;
    border-collapse: collapse;
    background-color: transparent;
}
legend {
    font-size: 15pt;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    color: #F9C743;
    margin: 1%;
}
h3 {
    font-size: 15pt;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    color: white;
}
button {
    color: white;
    background-color: #60371E;
    padding: 1%;
    font-family: Arial, sans-serif;
    margin: 1%;
    cursor: pointer;
    font-weight: bold;
    font-size: 10pt;
    border-radius: 5px;
    border: none;
}
td {
    font-size: 12pt;
    margin: 1%;
    padding: 1%;
    
}
input[type=text] {
    font-size: 11pt;
    color: black;
    font-family: Arial, sans-serif;
    width: 100%;
    margin: 1%;
    padding: 1%;
}

input[type=number] {
    font-size: 11pt;
    color: black;
    font-family: Arial, sans-serif;
    width: 100%;
    margin: 1%;
    padding: 1%;
}
th {
    font-family: Arial, sans-serif;
    font-size: 10pt;
    font-weight: bold;
    color: white;
}
.explica {
    width: 15vw;
    position: absolute;
    background-color: #A6341B;
    left: 77%;
    top: 1%;
    height: 80vh;
}
.explica p {
    font-size: 12pt;
    color: rgb(206, 194, 194);
    font-family: Arial, sans-serif;
    font-weight: 200;
    text-align: left;
    padding: 1%;
}

div {
    border-radius: 10px;
}
input{
    border: none;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    font-size: 12pt;
    padding: 1%;
}


