@charset "utf-8";
body{
    overflow-y: scroll;
    overflow-x: hidden;
}

#cadastrar {
    order: 0;
    width: 45vw;
    margin:auto;
    background-color: #c7c8c4d5;
    padding: 10px;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    color: #D1BF91;
    font-size: 12pt;
    height: 80vh;
    font-family: Arial, sans-serif;
    font-weight: bold;
}
.mensagem-erro {
    color: #60371E;
    font-family: Arial, sans-serif;
    margin: 0px;
    text-align: center;
    display: none;
}
input {
    width: 90%;
    margin: 3px;
    height: 25pt;
    border: 1px solid #F9C743;
    color: black;
    font-size: 12pt;
    outline: none;
    border-radius: 5px;
    border: none;
    padding: 2%;
   
}

input:focus{
    background-color: #f5f3ef;
    color: #60371E;
}


fieldset {
    width: 90%;
    margin-left: 2%;
    display: flex;
    align-items: center;
    border-collapse: collapse;
    background-color: #C7C8C4;
    color: #D1BF91;
    outline: #A6341B;
    border: none;
}
input[type=file] {
    width: max-content;
    height: 25pt;
    border-radius: 5px;
    border: none;
    padding: 1%;
    margin-top: 10pt;
    background-color: transparent;
}
input[type=radio] {
    margin-left: 1%;
    width: 3%;
    
}
input[type=button] {
    background-color: #A6341B;
    cursor: pointer;
    font-family: Arial, sans-serif;
    color: #D1BF91;
    padding: 2%;
}
input[type=reset]{
    background-color: #A6341B;
    cursor: pointer;
    font-family: Arial, sans-serif;
    color: #D1BF91;
    padding: 2%;
}
select {
    height: 25pt;
    margin-top: 10pt;
    border-radius: 5px;
    border: none;
}
label {
    margin-left: 15%;
    word-wrap: break-word;
    color: #A6341B;
}
.h1 {
    text-align: center;
    font-size: 14pt;
    color: #A6341B;
}
.lateral {
    width: 20vw;
    height: 90vh;
    text-align: justify;
    background-color: #60371E;
    color: #D1BF91;
    font-family: Arial, sans-serif;
    position: fixed;
    top: 1%;
    left: 77%;
    border-radius: 5px;
    padding: 1%;
}
legend{
    color: #A6341B;
}
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #7b6079;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #de8971;
    border-radius: 2px;    
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(117, 12, 12, 0.489);
  }
