@charset "utf-8";
#borrar {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
    background-image: url("../img/icons/carros.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    
}

.principal{
    width: 50vw;
    margin: 1%;
    background-color: transparent;
    height: auto;
    margin-top: 1%;
    border-radius: 5px;
    font-size: 10pt;
    font-family: Arial, sans-serif;
    color: rgb(167, 159, 159);
}
#principal-1 {
    margin-left: 20%;
    height: 55vh;
}
#explica {
    background-color: #60371E;
    color: #D1BF91;
    font-family: Arial, sans-serif;
    padding: 1%;
    width: 23vw;
    top: 1%;
    height: 90vh;
    position: absolute;
    left: 70%;
    text-align: justify;
}
button {
    background-color: #A6341B;
    padding: 1%;
    font-family: Arial, sans-serif;
    font-size: 10pt;
    font-weight: 300;
    color: white;
    margin: auto;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
input {
    margin: 2%;
    width: 70%;
    border-radius: 5px;
    padding: 3%;
    border: none;
    background-color: #D1BF91;
    color: #60371E;
}
input:focus {
    background-color: #ffffff;
    outline: #A6341B;
}
#mais {
    padding: 5%;
}

.h1 {
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: white;
    text-align: center;
    margin: auto;
}
fieldset {
    border-radius: 5px;
    color: #A6341B;
    border: 1px solid #A6341B;
}