
body{
    overflow-x: hidden;
    overflow-y: scroll;
}
.listar {
    width: 50%;
    margin: auto auto auto 20%;
    height: auto;
    overflow-y: none;
    padding-bottom: 5%;
    overflow-y: auto;
    padding-right: 10%;
}
.lis:hover{
    background-color: #D1BF91;
    cursor: text;
}
.btns{
    width: 23vw;
    display: flex;
    align-items: center;
    background-color: transparent;
    margin-left: 8%;
    margin-top: -3%;
    padding: 1%;
    padding-bottom: 1%;
    position: relative;
    background-color: transparent;
}
.lis {
    text-align: left;
    max-height: 15vh;
    margin: 1%;
    background: #C7C8C4;
    padding: 0px;
    color: #000;
    font-weight: bold;
    font-family: Arial, sans-serif;
    list-style: none;
    border-radius: 5px;
}
#mensagem-delete {
    display: none;
    color: rgb(241, 233, 233);
    background-color:#A6341B;
    width: 20vw;
    position: fixed;
    height: 20vh;
    border-radius: 10px;
    left: 40%;
    top: 30%;
    padding: 2%;
}
.subtitulo {
    text-align: center;
    width: 100%;
    color: #D1BF91;
    margin-top: 0px;
    padding: 1%;
    background-color: transparent;
    font-family: Arial, sans-serif;
}
.x {
    float: right;
    font-weight: bold;
    font-family:'Courier New', sans-serif;
    font-size: 12pt;
    text-align: center;
    padding: 1%;
    margin: 1px;
}
.x:hover {
    background-color: gray;
    cursor: pointer;
}
p {
    font-size: 12pt;
    font-family: Arial, sans-serif;
    text-align: center;
}
#mensagem-delete .botoes {
    width: max-content;
    padding: 1%;
    margin-left: 60%;
    margin-top: 20%;
    background-color: #A6341B;
    border: none;
}
h3 {
    font-size: 10pt;
    margin: auto;
    padding: 0px;
    color: rgb(230, 219, 219);
    text-align: center;
    font-family: Arial, sans-serif;
}
.h1 {
    margin: 5% 0px;
    padding: 0px;
    color: rgb(196, 186, 186);
    text-align: center;
    font-family: Arial, sans-serif;
}
button {
    cursor: pointer;
    color: black;
    border-radius: 5px;
}
.selecao {
    width: 10vw;
    padding: 1%;
    border: none;
    font-weight: 300;
    font-family: Arial, sans-serif;
    font-size: 12pt;
}
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #7b6079;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #de8971;
    border-radius: 2px;    
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(117, 12, 12, 0.489);
  }

.botoes{
    padding: 1%;
    border: none;
    margin: auto;
    background-color: #A6341B;
    width: max-content;
    border-radius: 5px;
    color: #F9C743;
    height: 1%;
}
.lateral {
    width: 15vw;
    height: 80vh;
    background-color: #60371E;
    position: fixed;
    top: 5%;
    right: 5%;
    padding: 2%;
    text-align: justify;
    border-radius: 5px;
    color: #D1BF91;
    font-family: Arial, sans-serif;
}
