.corpo {
    width: 50%;
    margin: auto;
    position: relative;
    display: flexbox;
    align-items: center;
}
.bem-vindo {
    color: #F9C743;
    text-align: center;
    font-size: 20pt;
    font-family: Arial, sans-serif;
}
.artigo {
    background-color: #A6341B;
    padding: 10px;
    word-wrap: break-word;
    border-radius: 10px;
    height: 50vh;
}
.paragrafo {
    font-family: Arial, sans-serif;
    font-size: 10pt;
    color: #D1BF91;
    text-indent: 15pt;
    padding: 10px;
}
.div-images {
    width: 100%;
    display: inline-block;
    margin: auto;
    background-color: transparent;
    text-align: center;
}
.images {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: transparent;
    display: inline-block;
    margin: 2%;
}
#aluna {
    background-image: url("../img/icons/add_grupo.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40px;
    filter: invert(50%);
}
#ame {
    background-image: url("../img/icons/gerenciamento.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40px;
    filter: invert(100%);
}
#despertador {
    background-image: url("../img/icons/procurar_pessoas.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40px;
    filter: invert(50%);
}
#estatisticas {
    background-image: url("../img/icons/cara.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40px;
    filter: invert(100%);
}
