#borrar {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: absolute;
    background-color: #c7c8c475;
    z-index: -1;
    background-image: url("../img/icons/check.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    filter: blur(5px);
}

.principal-perfis {
    width: 40vw;
    height: 90vh;
    background-color: transparent;
    margin: -2% auto auto 20%;
    border-radius: 10px;
    padding-top: 2%;
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 3%;
    padding-top: 3%;
}

.buscar {
    background-color: transparent;
    width: 90%;
    height:auto;
    padding: 14pt;
    margin: auto;
}
input[type=search] {
    width: 75%;
    padding: 3%;
    margin: auto;
    border-radius: 5px;
    border: none;
}
input[type=submit] {
    width: max-content;
    background-color: #A6341B;
    color: #F9C743;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}
.img-conteiner {
    background-color: transparent;
    display: flex;
    align-items: center;
    width: 20%;
    position: relative;
    float: left;
}
.img {
    width: 64px;
    height: 64px;
    border-radius: 5px;
    margin: 10px auto;
}
.div-lista {
    background-color: #C7C8C4;
    width: 80%;
    margin: 1% auto 1% auto;
    border-radius: 5px;
    height: max-content;
    transition: ease-out 0.5s;
}
.nome-pessoa {
    color: #60371E;
    margin: auto 5%;
    text-align: center;
    font-weight: bold;
    font-size: 12pt;
    font-family: Arial, sans-serif;
    padding: 1%;
    background-color: #D1BF91;
    border-radius: 10px;
    animation: infinite;
}
p {
    color:#A6341B;
    font-size: 10pt;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0px;
    margin: auto;
    padding: 5px;
    width: 50%;
    background-color: transparent;
}
a {
    text-decoration: none;
    color: #A6341B;
}
.div-lista:hover{ 
    background-color: #D1BF91;
    transition: ease-out 0.5s;
}
.inputs {
    background-color: #A6341B;
    width: 90%;
    margin: auto;
    padding: 5px;
    height: 20pt;
    border-radius: 10px;
    display: flex;
    align-items: center;
    font-family: Arial, sans-serif;
    color: rgb(231, 218, 218);
}
::-webkit-scrollbar {
    width: 3px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #7b6079;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #de8971;
    border-radius: 5px;    
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(117, 12, 12, 0.489);
  }
  .atalhos {
      background-color: transparent;
      width: 25vw;
      border: 1px solid #60371E;
      height: auto;
      position: absolute;
      left: 70%;
      top: 1%;
      overflow-y: auto;
      overflow-x: hidden;
      border-radius: 5px;
  }
table {
    width: 100%;
}
th {
    font-weight: bold;
    font-size: 15pt;
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
}
td {
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #A6341B;
    color: #A6341B;
    font-size: 12pt;
    font-family: Arial, sans-serif;
}
td:hover{
    background-color: #D1BF91;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
}
.explica {
    background-color: #60371E;
    width: 24vw;
    left: 73%;
    bottom: 20vh;
    position: relative;
    border-radius: 5px;
}
.explica p.texto {
    font-size: 10pt;
    color: wheat;
    font-family: Arial, sans-serif;
    text-align: justify;
    padding: 10px;
    width: 95%;
}