body {
    margin: 0px;
    height: 0px;
    width: 100vw;
    background-color: #C7C8C4;
}
#menu {
    position: fixed;
    width: 15vw;
    height: 100vh;
    background-color: #60371E;
    margin-top: -4%;
    padding-top: 6%;
    padding-bottom: 2%;
}

#lista {
    display: block;
    margin: auto;
    padding: 1%;
}

input[type=submit] {
    border-style: none;
    border: 1px solid grey;
    border-radius: 5px;
    height: 34px;
    margin: 0px;
    cursor: pointer;
}
.links-menu {
    text-decoration: none;
    color: #F9C743;
    margin: auto;   
}
.itens-menu {
    list-style: none;
    margin: 10px;
    font-family: arial, sans-serif;
    font-size: 11pt;
    font-weight: bold;
    border-radius: 5px;
    word-wrap: break-word;   
}
li:hover {
    transition: cubic-bezier(0.27, 0.49, 0.48, 0.97) 0.5s;
    background-color: teal;
}
li {
    padding: 1%;
    margin: 2%;
    transition: cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
}
hr {
    background: linear-gradient(to right, #D1BF91, #60371E, #A6341B, #F9C743, #C7C8C4);
    height: 5px;
    border: none;
    border-radius: 3px;
  }


