{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/alterar.css') }}">
    <div class="msg">
        <p>Desculpe nada a alterar, você precisa gerar dados no perfil selecionado!</p>
        <button onclick="redirecionar()">Gerar dados no perfil</button>
        <button onclick="document.location.href = '/deletar'">Voltar</button>
    </div>
    <style>
        body{
            width: 100vw;
            height: 100vh;
            display: flex;
            align-items: center;
        }
        .msg{
            width: 40vw;
            margin: auto;
            background-color: #A6341B;
            color: #F9C743;
            padding: 2%;
            font-size: 10pt;
            font-family: Arial, sans-serif;
            text-align: center;
            font-weight: bold;
        }
        button{
            background-color: #A6341B;
            color: #F9C743;
            font-family: Arial, sans-serif;
            border: 1px solid black;
            border-radius: 5px;
            transition: cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.5s;
        }
        button:hover {
            background-color: #60371E;
        }
    </style>
<script>
    function redirecionar(){
    var url = document.location.pathname.slice(9);
    document.location.replace(`/perfil/${url}`);
    console.log(url);
}
</script>
{% endblock %}