{% extends 'base.html' %}
{% block content %}
    <div class="erro">
        <h3 class="h3">{{ var.frase }}</h3>
        <p class="mensagem">
            
            {% if var.explicito %}
                {{ var.explicito|safe }}            
            {% else %}
                Não há nenhum aluno cadastrado, por favor vá a <a href="/cadastrar">pagina de cadastro</a>
                e insira perfis de alunos à base de dados, porém antes cadastre as disciplinas  
                na <a href="/mais">página de configurações</a>.
            {% endif %}
        </p>
    </div>
    <style>
        body{
            width: 100vw;
            height: 100vh;
            display: flex;
            align-items: center;
        }
        .erro {
            width: 40vw;
            height: auto;
            background: #A6341B;
            padding: 2%;
            height: auto;
            margin: auto;
            position: relative;
            border-radius: 5px;
        }
        .h3 {
            color: #F9C743;
            font-size: 15pt;
            font-family: arial, sans-serif;
            text-align: center;

        }
        .mensagem {
            color: #D1BF91;
            font-family: Arial, sans-serif;
        }
        a {
            color: #C7C8C4;
            font-weight: bold;
            text-decoration: none;
            font-size: 12pt;
        }
    </style>
{% endblock %}