{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/cadastrar.css') }}">
<body>
    <div class="div" id="cadastrar">
        <h1 class="h1">
            Cadastrar aluno
        </h1>
        <form action="" id="formulario" method="POST" enctype="multipart/form-data">
            <input type="text" placeholder="Nome*" class="inputs" name="nome">
            <p class="mensagem-erro"> *É preciso escrever um nome! </p>
            <input type="text" class="inputs" name="turma" placeholder="Turma">
            <p class="mensagem-erro"> *É preciso escrever uma turma! </p>
            <input type="number" class="inputs" placeholder="RG" name="rg">
            <p class="mensagem-erro"> *Escreva apenas numeros! </p>
            <input type="number" class="inputs" placeholder="CPF" name="cpf">
            <p class="mensagem-erro"> *É preciso escrever uma turma! </p>
            <fieldset>
                <legend>TURNO:</legend>
                    <label for="matutino">Manhã</label> 
                    <input id="matutino" name="radio" checked="checked" 
                            type="radio" class="inputs" value="matutino">
                    <label for="vespertino">Tarde</label> 
                    <input id="vespertino" name="radio" type="radio" 
                            class="inputs" value="vespertino">
                    <label for="noturno">Noite</label> 
                    <input id="noturno" name="radio" type="radio" 
                            class="inputs" value="noturno">
            </fieldset> <hr>
            <fieldset>
                <legend>SEXO:</legend>
                    <label for="masculino">Masculino</label> 
                    <input id="masculino" checked="checked" name="radio-sexo" type="radio" 
                            class="inputs" value="masculino">
                    <label for="feminino">Feminino</label> 
                    <input id="feminino" name="radio-sexo" type="radio" class="inputs" value="feminino">
                    <label for="outro">Outro</label> 
                    <input id="outro" name="radio-sexo" type="radio" class="inputs" value="outro">
            </fieldset> <hr>
            <select name="select">
                {% for dis in var.disciplinas %}<option value="{{ dis }}">{{ dis }}</option>{% endfor %}
            </select>
            Foto: 
            <input placeholder="teste" title="" type="file" class="inputs" name="foto">
            <input id="submeter" type="button" onclick="validar()" value="cadastrar">
            <input type="reset" value="cancelar">
        </form>
    </div>
    <div class="lateral">
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp; Registre nesta página todos os seus alunos, é obrigatório
            informar o nome e a turma para organização interna do programa. <br>
            &nbsp;&nbsp;&nbsp;&nbsp;É recomendado inserir uma foto para um melhor uso na hora da 
            manipulação de dados más não é obrigatório. <br> 
            &nbsp;&nbsp;&nbsp;&nbsp;Cpf, Rg serão acrescentados automáticamente com zeros
            caso não sejam informados porém não esqueca de marcar o turno
            e o sexo corretamente pois não é possível mudar essas informações sem deletar
            o perfil por inteiro. <br>
            &nbsp;&nbsp;&nbsp;&nbsp;Após o cadastro não é possível mudar dados como
            turma ou turno nem muito menos disciplina, sendo necessário realizar um novo
            cadastro caso um desses fatores aconteça. <br>
            &nbsp;&nbsp;&nbsp;&nbsp;Não é permitido cadastro de pessoas com nomes exatamente iguais e 
            o programa retornará um erro
            sendo necessário um diferencial entre um nome e outro, recomendamos fortemente que se use
            a identificação da turma no fim do nome nesta situação, porém se forem da mesma turma use um 
            fator físico visivelmente aparente.
        </p>
    </div>
    
    <script src="{{ url_for('static', filename='js/main.js') }}">
    </script>
</body>
{% endblock %}