{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/configuracoes.css') }}">
<h1 style="color: white; text-align: center;">Configure suas opções</h1>
<div class="principal" id="principal-1">

    <fieldset class="disciplinas">
        <legend style="color: red;" title="Defina as sua disciplinas lecionadas">
            Definir minhas disciplinas
        </legend>
        <form title="Defina as sua disciplinas lecionadas" action="" method="POST" id="form-1">
            <label for="nome">
                Insira uma disciplina
            </label>
            <br>
            <input type="text" name="nome" class="nome-disciplina">
            <button id="mais" title="Acrescentar mais uma" onclick="addInput()" type="button">
                +
            </button>
            <br>
            <button title="Definir" type="button" id="pronto">
                Pronto!
            </button>
        </form>
    </fieldset>
</div>

<div class="principal-2">

    <fieldset class="senha-nome">
        <legend style="color: red;" title="Defina as sua disciplinas lecionadas">
            Definir uma senha
        </legend>
        <form title="Defina as sua disciplinas lecionadas" action="" method="POST" id="form-2">
            <label for="nome">
                Usuário
            </label>
            <input type="text" name="nome-senha"> 
            <br>
            <label for="nome"> 
                Senha&nbsp;&nbsp;
            </label>
            <input type="text" name="nome-senha" class="">
            <br>
            <label for="nome">
                Repita&nbsp;&nbsp;
            </label>
            <input type="text" name="nome-senha" class="">
            <br>
            <button title="Definir" type="button" id="">
                Pronto!
            </button>
        </form>
    </fieldset>
</div>
<div class="principal" id="explica">
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp; Configure suas disciplinas, defina senha, defina
        um esquema de cores que melhor te agrada  ou faça 
        <i>
            backup
        </i> 
        do 
        <i>
            database
        </i> 
        nessa tela. 
        <br>
        &nbsp;&nbsp;&nbsp;&nbsp;Ao definir uma senha anote em um local seguro.
    </p>
</div>

<div id="temas">
    <h1>
        Configure um tema
    </h1>
    <div class="fundo">
        <div class="menu">
            <ul>menu
                <li>
                    sdfsda
                </li>
                <li>
                    sdfsda
                </li>
                <li>
                    sdfsda
                </li>
            </ul>
        </div>
        <p class="texto"> 
            Lorem ipsum dolor sit amet, consectetur adipisicing 
            elit. Et ea repellendus eveniet 
            necessitatibus ullam placea.
        </p>
    </div>
    <form action="" method="get" id="tema">
        <label for="">
            cor de fundo
            <input type="color" name="fundo" id="fundo">
        </label>
        <label for="">
            cor de frente
            <input type="color" name="frente" id="frente">
        </label>
        <label for="">
            cor do menu
            <input type="color" name="menu" id="menu_">
        </label>

    </form>
</div>

<script src="{{ url_for('static', filename='js/configuracoes.js') }}"></script>
{% endblock %}