{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/configuracoes.css') }}">
<h1 style="color: white; text-align: center;">Configure suas opções</h1>
<div class="principal" id="principal-1">

    <fieldset class="disciplinas">
        <legend style="color: red;" 
                title="Defina as sua disciplinas lecionadas">
                Definir minhas disciplinas
        </legend>
        <form title="Defina as sua disciplinas lecionadas" action="" method="POST" id="form-1">
            <label for="nome">Insira uma disciplina</label><br>
            <input type="text" name="nome" class="nome-disciplina">
            <button id="mais" title="Acrescentar mais uma" onclick="addInput()" type="button">+</button><br>
            <button title="Definir" type="button" id="pronto">Pronto!</button>
        </form>
    </fieldset>
</div>

<div class="principal" id="explica">
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp; Configure suas disciplinas, defina senha, defina
        um esquema de cores que melhor te agrada  ou faça 
        <i>backup</i> 
        do <i>database</i> 
        nessa tela. <br>
        &nbsp;&nbsp;&nbsp;&nbsp;Ao definir uma senha anote em um local seguro.
    </p>
</div>

<script src="{{ url_for('static', filename='js/configuracoes.js') }}"></script>
{% endblock %}